div#controle-base
    .velocidade
        h5 Velocidade
        p 
          button.brk-btn.vel.lento.brk-btn-green(data-velocidade='30') Lento
          button.brk-btn.vel.normal.brk-btn-blue(data-velocidade='10') Normal
          button.brk-btn.vel.rapido.brk-btn-red(data-velocidade='5') Rápido
    .velocidade
        h5 Configurações
        div
          input#mostraletra.cbx(type='checkbox', checked='checked')
          label(for="mostraletra") Mostrar letra
    .acertos
        h5 placar
        p
          span.icon(style="color:green") &#9900;
          span.acerto 0
        p
          span.icon(style="color:red") &#9900;
          span.erro 0
    #play
        button.brk-btn#play-game Iniciar