extends layout

block js
    - var version = "1";
    script(src="/javascripts/soundjs.min.js")
    script(src="/javascripts/sons.js")
    script(src="/javascripts/jogo-fonemas.js")
    script(src="/javascripts/keys.js")
    
    script.
        const parseBoolean = (exp)=>{
            return exp.indexOf("true")>=0;
        }

        var fonemas = new Fonemas("jogo");
        const keys = new KeysControl();

        fonemas.getLetraPressionada = ()=>{
            return keys.keyPressed;
        }

        fonemas.keysControl = keys;

        document.getElementById("play").onclick = function(e){
            if(e.target.innerText == "PARAR"){
                fonemas.stop();
                e.target.innerText = "INICIAR";
            }else{
                fonemas.start();
                e.target.innerText = "PARAR";
            }
            
        }

block content
  div  
    a(href="/") Voltar
    h1 #{title}
  
  include controles

  div#jogo