extends layout

block js
    - var version = "1";
    script(src="/javascripts/soundjs.min.js")
    script(src="/javascripts/sons.js")
    script(src="/javascripts/jogo-fonemas.js")
    script(src="/javascripts/keys.js")
    
    script.
        const parseBoolean = (exp)=>{
            return exp.indexOf("true")>=0;
        }

        var fonemas = new Fonemas("jogo");
        const keys = new KeysControl();

        fonemas.getLetraPressionada = ()=>{
            return keys.keyPressed;
        }

        fonemas.keysControl = keys;
        

        document.getElementById("play-game").onclick = function(e){
            if(e.target.innerText == "PARAR"){
                fonemas.stop();
                e.target.innerText = "INICIAR";
            }else{
                fonemas.start();
                e.target.innerText = "PARAR";
            }
            
        }

        //config mostrar letra
        document.getElementById("mostraletra").onchange = function(ev){
            fonemas.mostrarLetra = ev.target.checked;
        }
        fonemas.mostrarLetra = document.getElementById("mostraletra").checked;

        //velocidades
        document.querySelectorAll(".vel").forEach(e=>{
            e.onclick = function(evt){
                document.querySelectorAll(".vel").forEach(e2=>{
                    e2.disabled = false;
                });
                fonemas.velocidade = Number(evt.target.dataset.velocidade||10);
                evt.target.disabled = true;
            }
        });
        document.querySelectorAll(".vel.normal")[0].click();

block content
  div  
    a(href="/") Voltar
    h1 #{title}
  
  include controles

  div#jogo