extends layout

block js
    script(src="/javascripts/jogo-fonemas.js")
    script(src="/javascripts/keys.js")
    script.
        var fonemas = new Fonemas("jogo");
        const keys = new KeysControl();

        fonemas.getLetraPressionada = ()=>{
            return keys.keyPressed;
        }

        fonemas.keysControl = keys;
        fonemas.start();

block content
  div  
    a(href="/") Voltar
    h1= title
  div#jogo