doctype html
// html(manifest="/offline.manifest")
html
  head
    title= title
    include analitycs
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/button.css')
    //link(rel="manifest", href="/manifest.json", crossorigin="anonymous")
  body
    block content
    block js