doctype html
html
  head
    title= title
    include analitycs
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="manifest", href="/manifest.json", crossorigin="anonymous")
  body
    block content
    block js
    script(src="/javascripts/upup.min.js")
    script.        
        UpUp.start({
          'cache-version': 'v1',
          'content-url': '/fonemas',
          'assets': ['/javascripts/jogo-fonemas.js', '/javascripts/keys.js', '/stylesheets/style.css'],
          'service-worker-url': '/javascripts/upup.sw.min.js'
        });